.mobile__menu {
  width: 100vw;
  display: block;
  min-height: 100vh;
  z-index: 1000001;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.05s ease-in;
}
.mobile__menu.active {
  transform: translateX(0%);
}

.mobile__menu nav {
  display: block;
  background-color: rgb(20, 20, 20);
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 70%;
  z-index: 999;
  line-height: 3;
  padding: 2rem;
  transition: all 0.2s ease-in;
  transform: translateX(-100%);
}

.mobile__menu.active nav {
  transform: translateX(0%);
}

#close {
  position: absolute;
  right: 2rem;
  cursor: pointer;
}

.mobile__menu a {
  color: #fff;
  transition: all 0.1s ease-out;
  display: block;
  padding: 10px 0;
}

.mobile__menu a:hover,
.mobile__menu a:focus,
.mobile__menu a:active {
  color: var(--primary-color);
}
