.contact__details {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 30px;
  padding: 3rem 0 6rem;
}

.contact__details .col {
  border: 1px solid #57575d;
  border-radius: 5px;
  padding: 3rem;
  transition: all 0.2s ease-in-out;
  color: #b0b1b3;
}
.contact__details .col:hover {
  border-color: var(--light-color);
}
.contact__details .icon {
  color: var(--primary-color);
  font-size: 2rem;
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 50%;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 10px;
}
.contact__details .col p {
  line-height: 2;
}

@media (max-width: 800px) {
  .contact__details {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .contact__details {
    grid-template-columns: repeat(1, 1fr);
  }
}
