*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  font-size: 14px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #3d4044;
  color: #fff;
  padding: 2.5rem 5rem;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: #fff;
  text-underline-offset: 5px;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

@media (max-width: 800px) {
  body {
    padding: 2rem;
  }
}

.px-1r {
  padding: 0 1rem;
}
.px-2r {
  padding: 0 2rem;
}
.px-3r {
  padding: 0 3rem;
}
.px-4r {
  padding: 0 4rem;
}
.py-1r {
  padding: 0 1rem;
}
.py-2r {
  padding: 0 2rem;
}
.py-3r {
  padding: 0 3rem;
}
.py-4r {
  padding: 0 4rem;
}
.py-1r {
  padding: 0 1rem;
}
.py-2r {
  padding: 0 2rem;
}
.py-3r {
  padding: 0 3rem;
}
.py-4r {
  padding: 0 4rem;
}

.pr-1r {
  padding-right: 1rem;
}
.pr-2r {
  padding-right: 2rem;
}
.pr-3r {
  padding-right: 3rem;
}
.pr-4r {
  padding-right: 4rem;
}

.pl-1r {
  padding-left: 1rem;
}
.pl-2r {
  padding-left: 2rem;
}
.pl-3r {
  padding-left: 3rem;
}
.pl-4r {
  padding-left: 4rem;
}

.text-danger {
  color: rgb(235, 83, 83);
}

.not__found {
  text-align: center;
  padding: 4rem 0;
}

.not__found h1 {
  font-size: 10em;
  letter-spacing: 10px;
  line-height: 1;
}

.not__found span {
  color: #ffff77;
}

.not__found h3 {
  font-size: 3.5em;
}

.not__found p {
  color: #b0b1b3;
  line-height: 2;
}

.not__found button {
  margin-top: 2em;
  background-color: #000;
  padding: 15px 30px;
  text-transform: uppercase;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
}

